<div class="contenedor">
    <div class="foto">
        <img class="pequeña" src="./assets/img/david.jpg" alt="">
        <br><br><br><br><br>
        <p class="dato"> TELF: 646437863 <br>
            EMAIL: RAMOSVILLADAVID1@GMAIL.COM <br>
            LINKEDIN: <a href="www.linkedin.com/in/david-ramos-villa">www.linkedin.com/in/david-ramos-villa</a>
        </p>
    </div>
    <div class="name" [ngClass]="{'azul':!flag}">
        <h2 class="texto">¿Quién soy?</h2>
        <p>Mi nombre es David. Soy de Madrid, y soy una persona COMPROMETIDA, <br>
        RESPONSABLE, que quiere conseguir lo que se propone, y, con ACTITUD, lo consigo. <br>
        La necesidad de aprender diariamente cosas nuevas, absorver información, para uso personal y para el mundo laboral, <br>
        es una de mis cualidades. Saber TRABAJAR EN EQUIPO, saber admitir errores, pedir ayuda y consejo, dentro <br>
        de este, es fundamental, COMUNICACIÓN. <br>
        Cada objetivo tiene que ser un pequeño reto, el conseguirlo, el fin. <br>
        Me gusta el cine, me apasiona viajar, a quién no, he estado un mes en Australia y otro mes en Liverpool. <br>
        Aprender de otras otras culturas, enriquece a la persona. <br>
        El tiempo, inmaterial, limitado, recurso vital como el agua. Saber administralo y gestionarlo <br>
        hace que seamos más felices.
        <br><br>
        Así soy, y quiero que me conozcas!!! <br><br></p><br>
        <p class="dato"> TELF: 646437863 <br>
            EMAIL: RAMOSVILLADAVID1@GMAIL.COM <br>
            LINKEDIN: <a href="www.linkedin.com/in/david-ramos-villa">www.linkedin.com/in/david-ramos-villa</a>
        </p>
    </div>
    <div>
        <button (click)="cambiarFlag()" class="boton">Cámbiame el Color!!!</button>
    </div>
</div>
