
<nav class="navbar navbar-expand-lg navbar-dark bg-dark typeLetra">
    <a class="navbar-brand logo yo">David Ramos Villa</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-item nav-link menu active" routerLink="/sobreMi">SOBRE MÍ</a>
        <a class="nav-item nav-link menu" routerLink="/formacion-page">FORMACIÓN</a>
        <a class="nav-item nav-link  menu" routerLink="/tecnologias-pages">TECNOLOGÍAS</a>
        <a class="nav-item nav-link  menu" routerLink="/experiencia-page">EXPERIENZA DE LIDERAZGO</a>
        
      </div>
    </div>
</nav>




