<table class="table myTable">
    <thead class="miColor">
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">LOGO</th>
        <th scope="col">NIVEL</th>
      </tr>
    </thead>
    
    <tbody>
        
        <tr class="items" *ngFor="let tecnologia of tecnologias">
            <td class="cen">{{tecnologia.nombre}}</td>
            <td><img src="{{tecnologia.logo}}" alt=""></td>
            <td><mat-progress-bar style="height: 15px;" color="primary" mode="buffer" value={{tecnologia.nivel}}></mat-progress-bar>{{tecnologia.nivel}}%</td>
        </tr>      

    </tbody>
</table>